<mat-form-field>
  <mat-label>Pix</mat-label>

  <input matInput [formControl]="control()" pixAutocomplete status="alive" #api="pixAutocompleteApi"
    [matAutocomplete]="auto" />

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItem">
    @for (item of api.results(); track item.key) {
    <mat-option [value]="item">
      {{ item.key | pixKeyFormat }} — {{ item.owner }}
    </mat-option>
    }
  </mat-autocomplete>

  <mat-hint>
    <autocomplete-hint [api]="api" />
  </mat-hint>
</mat-form-field>