<mat-form-field>
  <mat-label>Personagem</mat-label>

  <input matInput [formControl]="control()" rickAndMortyAutocomplete status="alive" #api="rickMortyApi"
    [matAutocomplete]="auto" />

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCharacter">
    @for (item of api.results(); track item.id) {
    <mat-option [value]="item">
      {{ item.name }} — {{ item.species }}
    </mat-option>
    }
  </mat-autocomplete>

  <mat-hint>
    <autocomplete-hint [api]="api">
      <ng-template #loading>
        🌀 Abrindo portal…
      </ng-template>

      <ng-template #empty>
        Ninguém nessa dimensão
      </ng-template>
    </autocomplete-hint>
  </mat-hint>

</mat-form-field>