<mat-form-field class="example-full-width">
  <mat-label>CEP</mat-label>

  <input matInput [formControl]="control" cepAutocomplete #api="cepAuto" />

  <mat-autocomplete (optionSelected)="onSelect($event.option.value)">
    <mat-option *ngFor="let item of api.results()" [value]="item">
      {{ item.logradouro }}
    </mat-option>

    <mat-option *ngIf="api.loading()">Carregando…</mat-option>

    <mat-option *ngIf="api.showNoResults()">Nenhum resultado</mat-option>
  </mat-autocomplete>

</mat-form-field>