<div>
  <fieldset [formGroupName]="controlKey()">
    <legend>Escolha</legend>
    <select formControlName="tipo">
      <option value="1">PF</option>
      <option value="2">PJ</option>
    </select>
  </fieldset>
</div>
===================================
<div>
  <form [formGroup]="form">
    <rick-morty-autocomplete [control]="form.controls.personagem" />
  </form>
  <br><br>
  {{form.getRawValue() | json}}
</div>
===================================
<div>
  <pix-autocomplete />
</div>

<div>
  <cep-autocomplete />
</div>