<div class="row">
  <div class="col-6">
    <fieldset [formGroupName]="controlKey()">
      <legend>Escolha</legend>
      <select formControlName="tipo">
        <option value="1">PF</option>
        <option value="2">PJ</option>
      </select>
    </fieldset>
  </div>
  <div class="col-6">
    <form [formGroup]="form">
      <base-autocomplete endpoint="https://rickandmortyapi.com/api/character" label="Personagem" displayKey="name"
        subDisplayKey="status" [control]="form.controls.personagem" (optionSelected)="foo($event)" />
    </form>
    {{form.getRawValue() | json}}
  </div>
</div>